{% extends 'base.html' %} {% block title %}Signup{% endblock %} {% load static %} {% load form_filters %} {% block content %} {% block footer %}{% endblock %}

<section class="relative py-16 bg-gray-50">
  <div class="absolute top-0 left-0 w-full h-96 bg-indigo-500"></div>
  <div class="relative container px-4 mx-auto">
    <div class="max-w-xl mx-auto py-10 px-8 sm:px-20 bg-white rounded-md">
      <div class="mb-6">
        <span class="text-sm font-semibold uppercase">
          <span>create an</span>
          <span class="text-indigo-500">account</span>
        </span>
        <h4 class="max-w-xs font-heading text-3xl sm:text-4xl mt-2">Join our community</h4>
      </div>

      <!-- Signup Form -->
      <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}

        <!-- First Name Field -->
        <div class="mb-4">
          <label class="block text-sm leading-6 mb-2" for="id_first_name">First Name</label>
          {{ form.first_name|add_class:"block w-full p-4 font-heading text-gray-900 placeholder-gray-300 bg-gray-50 rounded outline-none" }}
        </div>

        <!-- Last Name Field -->
        <div class="mb-4">
          <label class="block text-sm leading-6 mb-2" for="id_last_name">Last Name</label>
          {{ form.last_name|add_class:"block w-full p-4 font-heading text-gray-900 placeholder-gray-300 bg-gray-50 rounded outline-none" }}
        </div>

        <!-- Username Field -->
        <div class="mb-4">
          <label class="block text-sm leading-6 mb-2" for="id_username">Username</label>
          {{ form.username|add_class:"block w-full p-4 font-heading text-gray-900 placeholder-gray-300 bg-gray-50 rounded outline-none" }}
        </div>

        <!-- Email Field -->
        <div class="mb-4">
          <label class="block text-sm leading-6 mb-2" for="id_email">Email</label>
          {{ form.email|add_class:"block w-full p-4 font-heading text-gray-900 placeholder-gray-300 bg-gray-50 rounded outline-none" }}
        </div>

        <!-- Password Field -->
        <div class="mb-4">
          <label class="block text-sm leading-6 mb-2" for="id_password1">Password</label>
          {{ form.password1|add_class:"block w-full p-4 font-heading text-gray-900 placeholder-gray-300 bg-gray-50 rounded outline-none" }}
        </div>

        <!-- Confirm Password Field -->
        <div class="mb-4">
          <label class="block text-sm leading-6 mb-2" for="id_password2">Confirm Password</label>
          {{ form.password2|add_class:"block w-full p-4 font-heading text-gray-900 placeholder-gray-300 bg-gray-50 rounded outline-none" }}
        </div>

        <!-- Terms and Conditions -->
        <div class="flex items-center mb-6">
          <input class="w-4 h-4" type="checkbox" value="" />
          <label class="ml-4 text-sm" for="">
            <span>By signing up, you agree to our</span>
            <a class="font-medium hover:underline" href="#">Terms,</a>
            <a class="font-medium hover:underline" href="#">Data Policy,</a>
            <a class="font-medium hover:underline" href="#">and Cookies Policy</a>
          </label>
        </div>

        <!-- Signup Button -->
        <div class="text-right">
          <button
            class="block w-full py-4 px-6 text-center font-heading font-medium text-base text-white hover:bg-indigo-600 border border-indigo-500 hover:border-indigo-600 rounded-sm transition duration-200 bg-indigo-500"
            type="submit"
          >
            Get Started
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
